.topnav {
  overflow: hidden;
  background-color: orange;
  margin-top:50px;
}


.topnav a
{
	  background-color:orange;
	  overflow: hidden;
 
	  float: right;
	  display: block;
	  
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
h3{
color:green;
text-align:center;
font-family:Galada;
padding:20px;
margin-bottom:25px;
}
	


table{
	border-collapse:collapse;
	width: 100%;
	text-align:center; 
}
table{
	 border: 5 px solid black;
	 
}
th {
	font-size: 20px;
	padding: 15px;
	
}
td{
padding: 5px;}
tr:hover{
	background-color: #1f262c;
}
tr:nth-child(even)
{
background-color: #1f1262c;
}
.footer{
background-color:gray;
margin-bottom:30px;
margin-top:40px;
}
